<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn m-3">
    <h3>Error</h3>
    <p>{{mensajeError}}</p>
</div>

<div *ngIf="!loading" class="row animated fadeIn">

    <div class="col-2">
        <img [src]="artista.images | noImage" class="img-thumbnail img-circle">
    </div>

    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">Ir a la página del artista</a>
        </p>
    </div>

    <div class="col-4 text-left">
        <button routerLink="/search" class="btn btn-outline-danger">Regresar</button>
    </div>

</div>

<div class="row m-5">
    <div lass="col">
        <h3>Top Tracks</h3>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th style="color:white">Foto</th>
                    <th style="color:white">Álbum</th>
                    <th style="color:white">Canción</th>
                    <th style="color:white">Vista previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td>
                        <img [src]="track.album.images | noImage" class="img-thumb img-circle">
                    </td>
                    <td style=" color:white ">{{track.album.name}}</td>
                    <td style="color:white ">{{track.name}}</td>
                    <td>
                        <iframe [src]="track.id | dominioSeguro:'https://open.spotify.com/embed/track/'" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>